<div id="contact" class="container-fluid page stripe smoothScroll" style="position:relative;">
	<div class="row spacer15vh"></div>

	<div class="row contact-form">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-right">
			<h3>Contact</h3>
			<a href="info@breedhout.be">info@breedhout.be</a>
		</div>

	</div>
	
	    <div class="row-fluid text-center scrollbutton" style="position: absolute; bottom: 30px; left: 0; width: 100%;">
        <a href="#top" style="color:black;" class="smoothScroll"><i class="fas fa-chevron-circle-up pulsing"></i></a>
    </div>
</div>